<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style-admin-item.css}" rel="stylesheet">
    <title>Title</title>
    <style>
        .imagePreview {
            width: 100%;
            height: 400px;
            background-size: cover;
            background: #fff url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg) no-repeat center center;
            display: inline-block;
            box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
        }

        .imgUp {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<section class="notice">
    <div class="page-title">
        <div class="container">
            <h3><b>상품 정보</b></h3>
        </div>
    </div>

    <div id="board-list">
        <div class="container">
            <form action="item.html" th:action method="post">
                <table class="board-table">
                    <tr>
                        <th>상품명</th>
                        <td><input type="text" id="name" name="name" class="form-control" th:value="${item.name}" readonly></td>
                    </tr>
                    <tr>
                        <th>가격</th>
                        <td><input type="number" id="price" name="price"  class="form-control" th:value="${item.price}" readonly></td>
                    </tr>
                    <tr>
                        <th>설명</th>
                        <td><textarea class="form-control" name="detail" id="detail" readonly>[[${item.detail}]]</textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>사진</th>
                        <td>
                            <div class="col-sm-6 imgUp">
                                <img class="imagePreview" th:src="${item.imagePath}" th:value="${item.imageName}" id="imageName">
                            </div>
                        </td>
                    </tr>
                </table>

                <div id="board-button" style="margin-top: 20px">
                    <div class="container">
                        <input class="btn btn-dark btn-cancel" type="button"
                               th:onclick="|location.href='@{/admin/items}'|" value="취소">
                        <input class="btn btn-dark btn-add" type="button" value="수정"
                               th:onclick="|location.href='@{/admin/items/edit/{itemId}(itemId=${item.id})}'|">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

</body>
</html>